*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
section{
    position: relative;
    background-color: rgb(209, 209, 209);
    border: 1px solid black;
    margin-right: 10px;
    margin-top: 10px;
}
h3{
    margin: 0;
    border: 1px solid black;
    text-align: center;
    width: 25%;
    position: absolute;
    top: 0;
    right: 0;
}
p{
    font-weight: bold;
    padding: 20px 10px 5px 10px;
}
#Chicken{
    background-color: aqua;
}
#Beef{
    background-color: rgb(233, 233, 67);
}
#Sushi{
    background-color: rgb(234, 115, 99);
}

                /* Responsive Design */
.row{
    width: 100%;
}

/************ Desktop view ************/
@media (min-width: 992px) {
    .col-lg-4{
        float: left;
        width: 33.33%;
    }
}

/************ Tablet view ************/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6{
        float: left;
        width: 50%;
    }
    .col-md-12{
        float: left;
        width: 100%;
    }
}

/************ Mobile view ************/
@media (max-width: 767px) {
    .col-sm-12{
        float: left;
        width: 100%;
    }
}